<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Hello World - Dashboard</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
      <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.1.6/vue.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body> 

    <!--  -->
   <div  class="row col-md-12 col-sm-12 col-xs-12 nogutter" >
      <div id="dashboard"  class="container col-md-6 col-sm-12 col-xs-12">
        <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              Groceries : <span v-bind:class="statusClass" >{{ status }}</span> 
            </div>
            <div class="panel-body">
              <div v-for="plant in groceries"  class="col-md-2 col-sm-3 col-xs-3 nogutter">
                  <img v-bind:src="'/css/img/'+ plant.what + '.png'" class="plant" v-bind:alt="plant.what" />
                  {{ plant.qty }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--  -->

    <div  class="row col-md-6 col-sm-12 col-xs-12 nogutter" >

      <!--  -->
      <div id="farmer"  class="container col-md-6 col-sm-6 col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            Farmer: <span v-bind:class="statusClass" >{{ status }}</span> 
          </div>

          <div class="panel-body">
            <div class='row col-md-12'>
             Produce: {{ tries }} 
            </div>

            <div v-for="plant in groceries" class="col-md-4 col-sm-4 col-xs-4">
              <button v-on:click="produce(plant)" class="btn-warning center">{{plant}}</button>
            </div>
          </div>
        </div>
      </div>
      <!--  -->

      <!--  --> 
      <div id="citizen" class="container col-md-6 col-sm-6 col-xs-6 ">
        <div class="panel panel-default">
          <div class="panel-heading">
            Citizen: <span v-bind:class="statusClass" >{{ status }}</span>
          </div>
          <div class="panel-body">
            <div class='col-md-12'>
             Eat: {{ tries }} 
            </div>

            <div v-for="plant in groceries" class="col-md-4 col-sm-4 col-xs-4">
              <button v-on:click="consume(plant)" class="btn-warning center">{{plant}}</button>
            </div>
          </div>
        </div>
      </div>
      <!--  -->
    </div>
</body>
    <script src="/js/dashboard.js"></script>
    <script src="/js/farmer.js"></script>
    <script src="/js/citizen.js"></script>
</html>