.plant {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.message-box {
	margin-top : 10px;
}

.radio-field {
    float: left;
    margin-right: 10px;
}
.radio-field label, .radio-field input[type='radio'] {
    float: left;
}

.button-work {
    display: inline-block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 45px;
}